/node_modules
/build

build
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test

graphify-out/
.agents/

# Custom ignores
configFiles
.graphifyignore
.geminiignore
.claudeignore
.antigravityignore
agentsIgnore
git

.env
.env.production
.env.development

# Ignore local knowledge database
kb_database.md
